<% include ../partials/header %>


<div class="container">

    <div class="jumbotron">
        <h1>Welcome to Yelpcamp</h1>
        <p>view our campground collection fron all over the world </p>

        <a href="/campground/new" class="btn btn-primary"> Add campground </a>
    </div>

    <div class="row">

        <!-- ******************************* -->
            
        <% campgrounds.forEach( function( campground ) { %>

            <div class="col-xs-12 col-6 col-md-4 col-lg-3" class=" text-center img-thumbnail">

                 <div class="index text-center">
                    
                    <img class="test" src="<%= campground.image %>" alt=" this is a campground">
               
                    <div class="caption">
                        <h4> <%= campground.name %> </h4>
                    </div>

                     <P>
                        <a href="/campground/<%= campground._id %>" 
                         class="btn btn-md btn-primary">More Info</a>
                    </P>
                </div>

            </div>

        <% } ); %>
            </div>  

        <!-- ***************************** -->
           
    </div>


</div>



<% include ../partials/footer %>